<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4839210077-n90uvuenmftso0jdb8perbmh1rjjg37q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4839210077-n90uvuenmftso0jdb8perbmh1rjjg37q</string>
	<key>API_KEY</key>
	<string>AIzaSyDdouN9i5cOZ2oGcbdMNyJ6ThbqBrCsalQ</string>
	<key>GCM_SENDER_ID</key>
	<string>4839210077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.eMart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>electronic-mart-ce09c</string>
	<key>STORAGE_BUCKET</key>
	<string>electronic-mart-ce09c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4839210077:ios:bce32b6fd98bf8d00d21b4</string>
</dict>
</plist>